@font-face {
    font-family: 'king_power_textbold';
    src: url('kingpowertext-bold-webfont.woff2') format('woff2'), url('kingpowertext-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'king_power_textregular';
    src: url('kingpowertext-regular-webfont.woff2') format('woff2'), url('kingpowertext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    height: 100vh;
    width: 100%;
    font-family: 'king_power_textregular' !important;
}

h1,
h2,
h3 {
    font-family: 'king_power_textregular' !important;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

.btn-color {
    background-color: #fff;
    border: 1px solid #ced4da !important;
}

.custom-control-indicator {
    background-color: #fff !important;
    border: 1px solid #cccccc !important;
}

.custom-control-input:checked~.custom-control-indicator {
    background-color: #007bff !important;
}

.higglight-text {
    color: #00adbb;
}

.back-page {
    color: #00adbb;
    width: 300px;
    display: inline;
    padding-top: 9px;

}

.minus-left {
    margin-left: -15px;
}

.minus-right {
    margin-right: -15px;
}

.logout-btn {
    border: none;
    background: none;
    color: #fff;
}

.header {
    height: 40px;
    color: #ffffff;
    background-color: #00adbb;

    .status {
        padding: 7px 0 7px 115px;
    }
}

.bread-crumb {
    color: #9b9b9b;

    a {
        color: #9b9b9b;

        &:hover {
            color: #9b9b9b;
        }
    }
}

.btn-create-client {
    width: 273px;
    height: 46px;
    border-radius: 5px;
    border: none;
    background-color: #00adbb;
    color: #fff;
    margin-bottom: 30px;
}

.sidenav {
    min-height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #f8f8f8;

    .none-show-menu {
        padding: 25px;
        width: 70px;
        height: 75px;
    }

    .menu {
        padding: 25px;
        width: 70px;
        height: 75px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        color: #333;
        display: block;
        border-top: 1px solid #fff;
        border-bottom: none;
        background-color: #f8f8f8;

        &:hover,
        :focus {
            color: #0b56a4;
            background: #fff;
        }

        &:active,
        .active {
            color: #fff;
            background-color: #00adbb;
        }

        a {
            .fa {
                color: #8f8f8f;
            }
        }
    }

    i {
        color: #8f8f8f;
    }

    .active {
        background-color: #00adbb;

        i {
            color: #ffffff;
        }

        &:hover,
        :focus {
            background-color: #00adbb;
        }
    }

    .sub-menu {
        background: #424242;
        display: inline-block;
        position: absolute;
        left: 70px;
        top: 0;
        min-width: 345px;
        color: #fff;
        text-align: left;
        font-size: 16px;
        font-weight: 300;

        .sub-menu-label {
            background: #313131;
            padding: 15px 20px;
        }

        .sub-menu-list {
            padding: 15px 30px 15px 55px;
            border-bottom: 1px solid #313131;

            .sub-menu-list-hover {
                font-size: 9px;
                position: relative;
                top: -3px;
                // padding-right: 10px;
                display: none;
                width: 20.5px;
            }

            &:hover {
                padding: 15px 30px;

                .sub-menu-list-hover {
                    display: inline-block;
                }
            }

            .sub-link {
                color: #fff;
            }
        }
    }

    .sub-menu-head {
        background: #313131;
        height: 75px;
        padding: 20px 25px;
        font-size: 26px;
        font-weight: bold;
    }

    .footer {
        height: 80px;
    }

    .logo {
        background: #4a4a4a;
        border-top: none;
        height: 75px;
        text-align: center;
        color: #ffffff;
        padding-top: 27px;
    }
}

.user-email {
    margin: 7px 20px;
}

.edit-admin-view {
    width: 1440px;
    height: auto;
    padding-left: 115px;
    margin-top: 50px;
    margin-bottom: 150px;

    .detail {
        font-size: 16px;
        color: #9b9b9b;
        padding: 30px 15px;
    }

    .line {
        border: 0;
        border-bottom: solid 2px #cccccc;
        margin-top: 30px;
    }

    .wrapper-manage-box {
        border: solid 1px #d7d7d7;

        .manage-box {
            margin-top: 30px;

            .row {
                margin-left: 15px;
                margin-right: 15px;
            }

            .details {
                margin-bottom: 30px;
            }
        }
    }
}

.filter-page {
    .filter-records {
        float: left;
        display: flex;
        width: 250px;
        text-align: right;

        .btn-record {
            width: 120px;
            background-color: #fff;
            border: solid 1px #cccccc;
        }

        .btn-record-select {
            width: 35px;
            background-color: #fff;
            border: solid 1px #cccccc;
        }

        .per-page {
            margin-left: 10px;
            font-size: 16px;
            color: #000000;
            line-height: 31px;
        }
    }

    .filter-pagination {
        float: left;
        text-align: right;

        .pagination-ul {
            margin: 0;
        }
    }
}

.filter-data {
    .filter-search {
        float: left;
        display: flex;
        width: 100%;
    }
}

.dropdown-toggle {
    color: #000000;
}

.table-detail {
overflow-x: scroll;
            min-width: 100%;

    .tab-content {
        margin-bottom: 40px;

        table {
            overflow-x: scroll;
            table-layout: fixed;

            thead {
                .title-table {
                    color: #4a4a4a;
                    font-size: 16px;

                    th {
                        min-width: 200px;
                        padding: 25px 12px;
                    }
                    td{
                        min-width: 200px;
                    }
                }

                .checkbox {
                    width: 50px;
                }
                .id {
                    width: 90px;
                }

                .name {
                    width: 350px;
                }

                .member-id {
                    width: 150px;
                }
                .member-name {
                    width: 300px;
                }

                .member-email {
                    width: 350px;
                }

                .member-tel {
                    width: 350px;
                }
                .phone {
                    width: 200px;
                }
                .citizen-id {
                    width: 250px;
                }
                .passport-id {
                    width: 250px;
                }

                .redirect-url {
                    width: 450px;
                }

                .created-at {
                    width: 150px;
                }

                .updated-at {
                    width: 150px;
                }
                .status {
                    width: 160px;
                }
            }

            tbody {
                font-size: 16px;
                color: #4a4a4a;
            }

            tbody > tr:nth-of-type(odd) {
                background-color: #fbfbfb;
            }
        }
    }
}

.input-search {
    input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-right: 0;
    }

    button {
        width: 40px;
    }

    .icon-search {
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 1px solid #ced4da;
        background-color: #ffffff;
    }
}

.page-item {
    .active {
        color: #fff!important;
        background-color: #00adbb!important;
        border-color: #00adbb!important;
    }
}

.page-link {
    color: #4a4a4a!important;

    &:focus {
        background-color: #00adbb!important;
        border-color: #00adbb!important;
        color: #fff!important;

        &:hover {
            color: #fff!important;
            background-color: #00adbb!important;
            border-color: #00adbb!important;
        }
    }
}

.topic {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.data-detail {
    color: #9b9b9b;
    font-size: 16px;
    padding: 23px 0 30px;
}

.mark-alert {
    color: #ff2d55;
}

.footer {
    background-color: #f8f8f8;
    text-align: left;
    left: 0;
    position: fixed;
    z-index: 5;
    padding: 20px 30px;
    width: 100%;
    bottom: 0;

    .footer-image {
        height: 29px;
    }
}

.control-bar {
    margin: 20px 0;

    .del-user {
        color: #ff2d55;
    }

    .back-page {
        color: #00adbb;
    }
}

.bg-membership {
    background-color: rgba(0,173,187,0.17);
}

.btn-submit {
    background-color: #00adbb;
    max-width: 153px;
    width: 100%;
    height: 46px;
    text-align: center;
    color: #ffffff;
    margin: 0 15px 30px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-save-to-db {
    border-radius: 5px;
    border: none;
    background-color: #017680;
    background-image: none;
    color: #fff;
    max-width: 285px;
    width: 100%;
    height: 46px;
    margin: 16px 0;
    cursor: pointer;
}

.btn-save {
    background-color: #00adbb;
    max-width: 285px;
    width: 100%;
    height: 46px;
    text-align: center;
    color: #ffffff;
    margin: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-reset-password {
    background-color: #00adbb;
    max-width: 265px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-color {
    background-color: #e6e6e6;
}

.btn-search {
    background-color: #00adbb;
    max-width: 205px;
    width: 100%;
    height: 46px;
    text-align: center;
    color: #ffffff;
    margin: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-outline-cancel {
    border-radius: 5px;
    border: 1px solid #00adbb;
    background-color: transparent;
    background-image: none;
    color: #00adbb;
    max-width: 153px;
    width: 100%;
    height: 46px;
    margin: 10px;
    cursor: pointer;
}

.btn-confirm {
    border-radius: 5px;
    border: 1px solid #00adbb;
    background-color: #00adbb;
    background-image: none;
    color: #00adbb;
    color: #ffffff;
    max-width: 153px;
    width: 100%;
    height: 46px;
    margin: 10px;
    cursor: pointer;
}

.btn-outline-quit {
    border-radius: 5px;
    border: 1px solid #00adbb;
    background-color: transparent;
    background-image: none;
    color: #00adbb;
    max-width: 285px;
    width: 100%;
    height: 46px;
    margin: 30px 15px;
    cursor: pointer;
}

.dropdown-custom {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-right: 0;

    button {
        background-color: #fff;
    }
}

.table th {
    border-top: none!important;
}

.member-bg {
    background-color: rgba(0,173,187,0.17);
}

.table thead th {
    border-bottom: 3px solid #03666e !important;
}

td > * {
    vertical-align: middle;
}

td input {
    vertical-align: middle;
}

.manage-edit-box {
    height: auto;
    margin-bottom: 30px;
    width: 100%;

    h3 {
        font-size: 18px;
        padding: 20px 15px;
    }

    .hr-inside {
        border: solid 1px #d7d7d7;
        margin: 0 15px 30px;
    }

    thead {
        tr {
            th:nth-child(3) {
                background-color: rgba(241, 241, 241, 0.8);
                padding: 15px 30px;
            }

            th:nth-child(2) {
                background-color: rgba(239, 239, 239, 0.42);
                padding: 15px 30px;
            }
        }
    }

    tbody {
        tr {
            border: 1px solid #e6e6e6;

            td {
                height: 100%;
                vertical-align: middle !important;
                padding: 13px 15px;
            }

            td:nth-child(3) {
                background-color: rgba(241, 241, 241, 0.8);
            }

            td:nth-child(2) {
                color: #000;
                background-color: rgba(239, 239, 239, 0.42);
            }
        }
    }
}

.sub-header {
    border-top: 3px solid #03666e !important;
}

.header-topic {
    background-color: #03666e !important;
    color: #fff;
}

.wrapper-manage-edit-box {
    .details {
        margin-bottom: 20px;
    }

    .show-detail {
        background-color: #fbfbfb;
        padding: 12px 0 12px 15px;
        margin-right: 30px;
    }

    .disable-show-detail {
        height: 34px;
        background-color: #dfdfdf;
        margin-right: 30px;
    }
}

.input-custom {
    width: 340px !important;
}

.input-custom-2 {
    height: 46px !important;
}

.input-custom-password {
    width: 150px !important;
}

.input-custom-mem-id-mem-part {
    width: 150px !important;
}

.reset-password {
    color: #000;
    font-size: 12px;
    text-decoration: underline;
    padding: 9px 0 9px 15px;
}

.wrapper-product-tab {
    font-size: 16px;
    margin-bottom: 20px;

    .product-tab a {
        padding: 10px 60px;
        border-radius: 5px 5px 0 0;
    }

    .tab-active a {
        background-color: #00adbb;
        color: #ffffff;
    }
}

.nav-tabs {
    border-bottom: solid 2px #00b6c3 !important;
}

.product-tab {
    padding-bottom: 7px;

    a {
        color: #4a4a4a;
        font-size: 18px;
    }
}

.custom-left-right {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.black-line {
    border: solid 1px #545454;
    margin: 25px 0;
}

.end-row {
    margin-top: 30px;
}
